* {
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 253, 123);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  margin: 0;
}
.topbox{
  background: #FFF;
  border: 1px solid #ccc;
  padding: auto 200px;
}
.box{
  background: #ccc;
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}
.main-header {
  margin: 0px auto;
  padding: 0px;
  position: fixed;
  padding: 5px 20px;
  width: 100%;
  overflow: hidden;
  top: 0;
  /* border: 2px solid #000; */
  background-color: #fff;
}
.topbox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topbox a {
  color: #000;
}

.topbox li {
  list-style: none;
  padding: 20px;
  /* float: right; */
  overflow: auto;
  border: 1px solid #ccc;
}
.topbox#top-box-1 {
  float: left; 
}
.topbox#top-box-2 {
  float: right;
}
.topbox#top-box-3 {
  float: right;
}
.topbox#top-box-4 {
  float: right;
}

.topbox a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
}
.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 6em 0;
}
#about {
  color:blue;
}
/* nested seleector */
#main-nav ul{
  font-size: 20px;
}
#main {
  border: 2px black solid;
  margin: 20px;
  padding: 10px;
  background: #FFF;
}
/* Bottom Nav Bar */
.footer {
  border-top: 2px solid #ccc;
  background-color: #fff;
  padding: 5px 20px;
  margin: 0px auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer {
  margin: 5px 0 0;
  font-size: 12px;
}
#contact-icon{
  background: transparent;
  height: 24px;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#footer li {
  padding: 0 10px;
  float: left;
}
#footer p{
  float: right;
  margin: 0;
}
