* {
  box-sizing: border-box;
}
body {
  background-color: #cccc99;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
  margin: 0;
}
.navbar {
  position: fixed;
  top: 0;
  margin: 0px auto;
  padding: 0px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.navbox {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #FFF;
  padding: auto 200px;
}
.navbox li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
.navbox li a {
  display: block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
}
.navbox li a:hover {
  color: #808080;
  border: 1px #f2f2f2 solid;
}
.navbox#box-1 {
  float: left; 
}
.navbox#box-2 {
  float: right;
}
.navbox#box-3 {
  float: right;
}
.navbox#box-4 {
  float: right;
}

.box{
  background: #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 6em 0;
}
#main {
  border: 1px black solid;
  margin: 20px;
  padding: 10px;
  background: #FFF;
}
/* Bottom Nav Bar */
.footer {
  border-top: 2px solid #ccc;
  background-color: #fff;
  padding: 5px 20px;
  margin: 0px auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#footer {
  margin: 5px 0 0;
  font-size: 12px;
}
#contact-icon{
  background: transparent;
  height: 24px;
}
#footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#footer li {
  padding: 0 10px;
  float: left;
}
#footer p{
  float: right;
  margin: 0;
}
